html {
	font-family: 'Lato', sans-serif;
}

body {
}

a, a:hover, a:focus {
	cursor: pointer;
	text-decoration: none;
	outline: none;
}

h2 {
	font-family: 'Playfair Display', serif;
	font-weight: bold;
	font-style: normal;
	margin: 0;
	padding: 0;
	font-size: 1px;
}

 p {
 	font-size: 14px;
    line-height: 28px;
 }

 article {
 	margin-bottom: 51px;
 }


/* header*/
.tete{
  height: 300px;
}

.logo{
  float: center;
  padding-top: 100px;
  padding-left: 33%;
}

.slogan{
  font-family: "PT serif", "serif";
  font-style: italic;
  font-size: 20px;
  padding-top: 15px;
  padding-left: 42%;
}

/* carousel*/

.slides{
  position: ;
}

div.carouselll {
  width: 100%;
  height: 500px;
  overflow:hidden;
  text-align:center;
  vertical-align: middle;
  position: relative;
  z-index: 1;
}

.rectangulo {
   width: 500px;
   height: 150px;
   text-align: center;
   background-color: white;
   position: absolute;
   top: 50%; left: 50%; /* à 50%/50% du parent référent */
   transform: translate(-50%, -50%); /* décalage de 50% de sa propre taille */
   z-index: 2;
   float: center;

}

.positionText {
  position: absolute;
  top: 50%; left: 33%; /* poussé de la moitié de hauteur du référent */
  transform: translateY(-50%); /* tiré de la moitié de sa propre hauteur */
}

.feat-time {
    height: 32px;
    line-height: 32px;
    display: block;
    width: 120px;
    font-size: 12px;
    text-align: center;
    text-transform: uppercase;
    color: #fff;
    background: #000000;
    position: absolute;
    z-index: 20;
    top: -10px;
    left: 50%;
    margin-left: -60px;
}
.feat-time:after {
    border-left-color: #000000;
    right: -32px;
}
.feat-time:before {
    border-left-color: #000000;
    left: -32px;
}
.rectBord:before {
    top: 5px;
    left: 5px;
    bottom: 5px;
    right: 5px;
    position: absolute;
    border: 1px solid #DEDEDE;
    display: block;
    content: "";
}

/*----- fin du carousel-----/*/



.header-maison {
	padding-top: 100px;
	position: relative;
}


/*
.img-corps {
	margin-bottom: 28px;
}
*/
.img-responsive {
	width: 100%;
}

.embed-responsive-15by10 {
	padding-bottom: 66.67%;
	margin-bottom: 28px;
}

.article-header {
	padding-bottom: 17px;
    position: relative;
}

.article-header::after {
    width: 60px;
    height: 1px;
    background: #a60505;
    margin-left: -30px;
    position: absolute;
    left: 50%;
    bottom: 0;
    content: "";
}

.category, .titre {
	text-align: center;
	text-transform: uppercase;
	margin-bottom: 10px;
}

/*
.category > a.a-cat::after {
	content: "";
	display: inline-block;
	border: 1px solid #6eb48c;
	font-size: 12px;
	margin-left: 11px;
	width: 3px;
	height: 3px;
	transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
	border-color: #a60505;
}

.category > a.a-cat {
	color: #a60505;
	font-size: 12px;
	line-height: 1.2;
	margin: 0 18px 0 0;
	vertical-align: top;
}
*/

.category > a.a-cat {
	font-size: 12px;
	color: #a60505;
	text-transform: uppercase;
	line-height: 1.2;
	margin: 0 18px 0 0;
	padding-right: 10px;
	display: inline-block;
	vertical-align: top;
	background: none;
	transition: all 0.3s;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	font-weight: normal;
	margin-bottom: 5px;
	position: relative;
}
.category > a.a-cat:after {
	content: "";
	display: inline-block;
	border: 1px solid #a60505;
	font-size: 12px;
	margin-left: 11px;
	position: absolute;
	top: 50%;
	margin-top: -3px;
	width: 3px;
	height: 3px;
	transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
}
.category > a.a-cat:hover {
	text-decoration: underline;
}
.category > a.a-cat:first-child {
	margin-left: 0;
}
.category > a.a-cat:last-child {
	margin-right: 0;
	padding: 0;
}
.category > a.a-cat:last-child:after {
	content: none;
	display: none;
}


.auteur {
	text-align: center;
	margin-bottom: 10px;
	color: #888888;
}

.titre h2 a {
	font-size: 18px;
	color: #313131;
	letter-spacing: 1px;
	-webkit-transition: .5s;
}

.auteur .a-auteur {
	font-style: italic;
}

.a-auteur a {
	color: #313131;
}

.auteur span.a-auteur::after {
	content: "";
	width: 1px;
	height: 10px;
	margin: 0 11px 0 15px;
	display: inline-block;
	background: #DEDEDE;
}

.description {
	margin-top: 18px;
    text-align: left;
}

.article-footer.footer-box::before {
	content: "";
	width: 100%;
	height: 1px;
	background: #DEDEDE;
	display: block;
	z-index: 1;
	position: absolute;
	top: 49%;
	left: 0;
}    

.article-footer.footer-box {
	border: none !important;
    padding: 0;
    text-align: center;
    position: relative;
    margin-top: 27px;
    clear: none;
 }

 .share-box {    
 	float: none !important;
    padding: 0 10px;
    position: relative;
    z-index: 50;
    background: #ffffff;
    display: inline-block;
    margin-top: 0;
 }

.share-box a {
	display: inline-block;
    position: relative;
    color: #313131;
    margin-left: 10px;
    font-size: 14px;
}

 .share-box a:first-child {
 	margin-left: 0;
 }


 /*pagination*/

.aaa{
	display: inline;

}

/*liste instagram*/


footer{
	background-color: #212121;
	height: 500px;
}

.copyrigth{
	text-align: center; ;
	font-style: italic;
}

/* SOCIAL ICONS FOOTER */


.social a {
  display: inline-block;
  align-items: center;
}

.social i {
 
  text-align: center;
  padding-top: 12px;
}

ul#enligne li {
	display:inline  ;
    margin-left: 10px;
    margin-right: 10px;
    color: #999;

}
ul#enligne p {
 	font-size: 10px;
    line-height: 18px;
 }

 
.social::after {
	display: inline-block;
	border: 0.1px solid #A9A9A9;
	width : 80%;
}


/*circles icons */

.rond-footer{
    width: 36px;
    height: 36px;
    line-height: 34px;
    border-radius: 50%;
    background: none;
    color: #999;
    border: 1px solid #999;
    font-size: 14px;
    transition: all 0.2s ease-in-out;
}
 

 